{% extends "layout.html" %}
{% block content %} 
<section class="row">
  <div class="col-md-4">
    <p>
      You can incorporate secrets (like SSH keys) into your builds by including
      their UUIDs in your build manifest:
    </p>
    <pre>secrets:
- 46f739e5-4538-45dd-a79f-bf173b7a2ed9</pre>
    <h3>Add new secret</h3>
    <form method="POST" action="/secrets" enctype="multipart/form-data">
      {{csrf_token()}}
      <div class="form-group">
        <label for="name">Name</label>
        <input
          id="name"
          name="name"
          type="text"
          placeholder="Optional"
          class="form-control {{ valid.cls("name") }}"
          value="{{ name or "" }}" />
        {{ valid.summary("name") }}
      </div>
      <div class="form-group">
        <label for="secret">Secret</label>
        <textarea
          id="secret"
          name="secret"
          class="form-control {{ valid.cls("secret") }}"
          rows="5"></textarea>
        {{ valid.summary("secret") }}
      </div>
      <fieldset class="form-group">
        <legend>Secret Type</legend>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="radio"
              name="secret_type"
              id="secret_type-ssh_key"
              value="ssh_key"
              {{ "checked" if secret_type == "ssh_key" else "" }}> SSH Key
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="radio"
              name="secret_type"
              id="secret_type-pgp_key"
              value="pgp_key"
              {{ "checked" if secret_type == "pgp_key" else "" }}> PGP Key
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="radio"
              name="secret_type"
              id="secret_type-plaintext_file"
              value="plaintext_file"
              {{ "checked" if secret_type == "plaintext_file" else "" }}> File
          </label>
        </div>
        {# XXX: Hack to appease Bootstrap #}
        <div class="form-control d-none {{ valid.cls("secret_type") }}"></div>
        {{ valid.summary("secret_type") }}
        <noscript>
          <p>The following fields only apply to "File" secrets:</p>
        </noscript>
        <div id="file-fields">
          <div class="form-group">
            <label for="file-path">Path</label>
            <input
              type="text"
              class="form-control {{ valid.cls("file-path") }}"
              name="file-path"
              placeholder="e.g. '~/.my_secret'" />
            {{ valid.summary("file-path") }}
          </div>
          <div class="form-group">
            <label for="file-mode">Mode</label>
            <input
              type="text"
              class="form-control {{ valid.cls("file-mode") }}"
              name="file-mode"
              placeholder="e.g. '644'" />
            {{ valid.summary("file-mode") }}
          </div>
          <div class="form-group">
            <label for="file-file">File</label>
            <input
              type="file"
              class="form-control {{ valid.cls("file-file") }}"
              name="file-file"
              aria-describedby="file-file-help"
              />
            {{ valid.summary("file-file") }}
            <small
              id="file-file-help"
              class="form-text text-muted"
            >
              Choose a file here <strong>or</strong> paste the text in above,
              not both.
            </small>
          </div>
        </div>
        <script>
          // @license magnet:?xt=urn:btih:0b31508aeb0634b347b8270c7bee4d411b5d4109&dn=agpl-3.0.txt AGPL-3.0-only
          (function() {
            var fields = document.getElementById("file-fields");
            var checkbox = document.getElementById("secret_type-plaintext_file");

            function apply() {
              console.log("apply", checkbox.checked);
              fields.style.display = checkbox.checked ? "block" : "none";
            };

            [].slice.call(document.querySelectorAll("input[type='radio']")).map(function(radio) {
              radio.addEventListener("change", apply);
            });
            apply();
          })();
          // @license-end
        </script>
        <p>
          SSH keys are written to <code>~/.ssh/:uuid</code> and the first key
          added is symlinked to <code>~/.ssh/id_rsa</code>. PGP keys are
          imported into GPG.
        </p>
      </fieldset>
      <button type="submit" class="btn btn-primary btn-block">
        Add secret {{icon("caret-right")}}
      </button>
    </form>
  </div>
  <div class="col-md-8">
    {% if message %}
    <div class="alert alert-info">
      {{ message }}
    </div>
    {% endif %}
    {% if len(secrets) == 0 %}
    <div class="alert alert-info">You haven't added any secrets yet.</div>
    {% else %}
    <div class="event-list">
      {% for secret in secrets %}
      <div class="event">
        <h4>
          <code style="padding: 0;">{{ secret.uuid }}</code>
          <small class="pull-right">{{ secret.created | date }}</small>
        </h4>
        {% if secret.name %}
        <div>{{ secret.name }}</div>
        {% endif %}
        <a
          href="/secret/delete/{{ secret.uuid }}"
          class="btn btn-danger pull-right"
        >Delete</a>
        <div>
          {{secret.secret_type.pretty_name}}{%
            if secret.secret_type.value == "plaintext_file"
          %}:
          <code>
            {{secret.path}}
            {{"{0:0o}".format(secret.mode)}}
          </code>
          {% endif %}
        </div>
        <div class="clearfix"></div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}
